<div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-left" role="group">
        <a href="javascript:void(0)" id="pdfjs-previous-{cObj.uid}" class="btn btn-default" role="button" title="{f:translate(key:'pdfViewer.previous.title')}">
            <f:translate key="pdfViewer.previous" />
        </a>
        <span class="page-index-wrapper">
            <f:translate key="pdfViewer.page" /> <span id="pdfjs-page-num-{cObj.uid}">0</span><f:translate key="pdfViewer.pageIndexSeparator" /><span id="pdfjs-page-count-{cObj.uid}">0</span>
        </span>
        <a href="javascript:void(0)" id="pdfjs-next-{cObj.uid}" class="btn btn-default" role="button" title="{f:translate(key:'pdfViewer.next.title')}">
            <f:translate key="pdfViewer.next" />
        </a>
    </div>
    <div class="btn-group btn-group-right" role="group">
        <a href="javascript:void(0)" id="pdfjs-zoom-in-{cObj.uid}" class="btn btn-default" role="button" title="{f:translate(key:'pdfViewer.zoomIn.title')}"><f:translate key="pdfViewer.zoomIn" /></a>
        <a href="javascript:void(0)" id="pdfjs-fit-{cObj.uid}" class="btn btn-default" role="button" title="{f:translate(key:'pdfViewer.fit.title')}"><f:translate key="pdfViewer.fit" /></a>
        <a href="javascript:void(0)" id="pdfjs-zoom-out-{cObj.uid}" class="btn btn-default" role="button" title="{f:translate(key:'pdfViewer.zoomOut.title')}"><f:translate key="pdfViewer.zoomOut" /></a>
    </div>
</div>

<div class="clearfix"></div>